<!DOCTYPE HTML>
<html ng-app="rubicsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rubics Cubism</title>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/rubics.css"/>

    <script type="text/javascript" src="js/angular.min.js"></script>

    <!--
    <script type="text/javascript" src="js/angular-ui-router.min.js"></script>

    <script type="text/javascript" src="js/d3.min.js"></script>
    <script type="text/javascript" src="js/cubism.v1.min.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    -->

    // Application Code
    <script>
        var model = [
            { name:"Dispatcher Recieved", find: "security.logging.dispatcher.*.received" },
            { name:"Indexer Received",    find: "security.logging.indexer.*.received" },
        ];

        var rubicsApp = angular.module("rubicsApp", []);
        rubicsApp.controller("MetricsCtrl", function($scope) {
            $scope.metrics = model;

            $scope.addMetric = function() {
                $scope.metrics.push({name:$scope.metricName, find:$scope.metricFind});
                $scope.metricFind='';
                $scope.metricName='';
            };
        });
    </script>

</head>
<body ng-controller="MetricsCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rubics Cubism</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
          </ul>
          <form ng-submit="addMetric()" class="navbar-form navbar-right form-inline">
            <div class="form-group">
                <input type="text" ng-model="metricName" class="form-control" placeholder="Name of Metric"/>
            </div>
            <div class="input-group">
                <input type="text" ng-model="metricFind" class="form-control" placeholder="path.to.metric.*"/>
                <span class="input-group-btn">
                    <button class="btn btn-default">Add</button>
                </span>
            </div>
            </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li data-ng-repeat="m in metrics"><a href="#">{{m.name}}</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
        </div>
      </div>
    </div>
</body>
</html>
