<!DOCTYPE HTML>
<html ng-app="rubicsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rubics Cubism</title>

    <link rel="stylesheet" href="lib/bootstrap-3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/bootstrap-3.3.2/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/colorpicker.css"/>
    <link rel="stylesheet" href="css/rubics.css"/>

    <script type="text/javascript" src="lib/d3-3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="lib/cubism-1.6.0/cubism.v1.min.js"></script>
    <script type="text/javascript" src="lib/jquery-2.1.3/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.3.13/angular.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-3.3.2/js/bootstrap.min.js"></script>
  <!--
  <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
  -->

    <!-- Modules -->
    <script type="text/javascript" src="js/bootstrap-colorpicker-module.js"></script>

    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</head>
<body ng-controller="MetricsCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rubics Cubism</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{dashboardName}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">Local</li>
                <li data-ng-repeat="d in dashboards">
                  <a ng-click="loadDashboard(d)"><span class="glyphicon glyphicon-equalizer"></span> {{d}}</a>
                </li>
                <li role="presentation" class="dropdown-header">Remote</li>
                <li data-ng-repeat="d in remoteDashboards">
                  <a ng-click="loadDashboard('r/' + d)"><span class="glyphicon glyphicon-equalizer"></span> {{d}}</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                  <div class="container-fluid">
                    <form ng-submit="" class="form-inline">
                      <div class="input-group">
                        <input type="text" ng-model="dashboardNewName" class="form-control" placeholder="{{dashboardName}}"/>
                        <span class="input-group-btn">
                          <button class="btn btn-default" ng-click="saveDashboard()">Save</button>
                        </span>
                      </div>
                    </form>
                  </div>
                </li>
                <li role="presentation" class="divider"></li>
                <li>
                  <a ng-click="loadDashboard()"><span class="glyphicon glyphicon-plus"></span> Shiny new dashboard</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Metrics <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li data-ng-repeat="m in metricGroups" ng-style="{'background-color': m.color}">
                  <a ng-click="m.hide = !m.hide"><span class="glyphicon glyphicon-eye-{{m.hide ? 'close' : 'open'}}"></span> {{m.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
          <form ng-submit="addMetric()" class="navbar-form navbar-right form-inline">
            <div class="input-group">
                <span class="input-group-btn">
                <button type="button" colorpicker class="btn" colorpicker-position="bottom" ng-style="{'background-color': metricColor}" ng-model="metricColor">
                    <span class="glyphicon glyphicon-tint"></span>
                </button>
                </span>
                <input type="text" ng-model="metricName" class="form-control" placeholder="Title for metric group"/>
            </div>
            <div class="input-group">
                <input type="text" ng-model="metricFind" class="form-control" placeholder="path.to.metric.*"/>
                <span class="input-group-btn">
                    <button class="btn btn-default">Add</button>
                </span>
            </div>
            <div class="input-group">
              <a class="btn btn-default" ng-class="{disabled: !metricGroups.length, active: editMetrics}" ng-click="editMetrics = !editMetrics">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <div class="well well-sm" ng-show="vars.length">
      <form class="form-horizontal">
        <div class="form-group" ng-repeat="v in vars">
          <label class="col-sm-2 control-label">{{v.name}}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter a value for your variable" ng-model="v.value">
          </div>
        </div>
        <div class="form-group">
          <label for="updateVars" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <button class="btn btn-default" id="updateVars" ng-click="updateVars()">Update</button>
          </div>
        </div>
      </form>
    </div>
    <charts id="charts" ng-show="metricGroups.length">
      <div class="horizonCharts">
        <horizon-chart ng-repeat="m in metricGroups" hc-metrics="m" hc-edit-mode="editMetrics" ng-hide="m.hide"></horizon-chart>
      </div>
    </charts>
  <div ng-hide="metricGroups.length">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Get Started Quickly</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Enter a metric (e.g. <em>security.logging.indexer.logproc-101.total</em> ) and click the attached Add button</li>
          <li>Enter a metric with a wild card (e.g. <em>security.logging.indexer.*.total</em> ) and click the Add button to expand into multiple graphs</li>
          <li>Enter a metric with a $VARIABLE (e.g. <em>security.logging.indexer.$HOST.total</em> ) and click the Add button and give a value for the variable</li>
          <li>Enter a metric with a function (e.g. <em>sumSeries(security.logging.indexer.logproc-1*.total)</em> ) and click the Add button</li>
          <li>Enter a metric with a function and a $* instead of a * (e.g. <em>nonNegativeDerivative(general.es.logsearch-$*.http.total_opened)</em> ) and click the Add button to expand into multiple graphs</li>
          <li>Go play around with all of the above ...</li>
          <li>Prefix the name with a r/ to store the dashboard remotely</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
